.signupWrapper{
    display: flex;
    justify-content: center;
}

.signupCard{
    position: absolute;
    bottom: 5px;
    width:35vw;
    margin-top: 5%;
}

.insta-logo{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.insta-logo img{
    width: 15vw;

}

@media only screen and(max-width:620px){
    .signupCard{
        width: 60%;
    }
    .insta-logo img{
        width: 35%;
    }
}